In [3]:
import os 
from dotenv import load_dotenv
load_dotenv()

True

In [9]:
import pandas as pd
import json
from alpha_vantage.timeseries import TimeSeries

In [5]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = f"""https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey={os.getenv('stock_api')}"""
r = requests.get(url)
data = r.json()

In [10]:
ts = TimeSeries(os.getenv('stock_api'), output_format='pandas')
data,meta = ts.get_intraday('IBM', interval='1min', outputsize='full')

In [11]:
meta

{'1. Information': 'Intraday (1min) open, high, low, close prices and volume',
 '2. Symbol': 'IBM',
 '3. Last Refreshed': '2025-02-18 19:59:00',
 '4. Interval': '1min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [12]:
data

                      1. open   2. high    3. low  4. close  5. volume
date
2025-02-18 19:59:00  263.3300  263.3300  263.0800  263.0800       21.0
2025-02-18 19:54:00  263.3400  263.3400  263.3400  263.3400        1.0
2025-02-18 19:44:00  263.3400  263.3500  263.3400  263.3500       56.0
2025-02-18 19:38:00  263.0800  263.0800  263.0800  263.0800        5.0
2025-02-18 19:36:00  263.0700  263.0700  263.0700  263.0700        2.0
...                       ...       ...       ...       ...        ...
2025-01-21 04:04:00  223.4927  223.4927  223.4927  223.4927       12.0
2025-01-21 04:03:00  223.3040  223.3040  223.3040  223.3040       54.0
2025-01-21 04:02:00  223.4927  223.4927  223.4927  223.4927        6.0
2025-01-21 04:01:00  223.4828  223.4927  223.2543  223.4927       12.0
2025-01-21 04:00:00  224.1582  224.1582  223.0854  223.2940      305.0

[13679 rows x 5 columns]

In [14]:
import yfinance as yf

nifty = yf.Ticker("^NSEI")
data = nifty.history(period="1d", interval="1m")

In [15]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-02-19 09:15:00+05:30,22839.400391,22839.400391,22818.900391,22828.550781,0,0.0,0.0
2025-02-19 09:16:00+05:30,22825.449219,22827.949219,22816.199219,22823.349609,0,0.0,0.0
2025-02-19 09:17:00+05:30,22825.699219,22852.500000,22824.400391,22846.750000,0,0.0,0.0
2025-02-19 09:18:00+05:30,22846.199219,22859.250000,22839.400391,22859.250000,0,0.0,0.0
2025-02-19 09:19:00+05:30,22858.050781,22863.699219,22852.150391,22859.949219,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-02-19 15:25:00+05:30,22926.449219,22927.300781,22922.150391,22925.150391,0,0.0,0.0
2025-02-19 15:26:00+05:30,22925.650391,22933.250000,22925.099609,22930.949219,0,0.0,0.0
2025-02-19 15:27:00+05:30,22930.849609,22932.849609,22927.699219,22932.000000,0,0.0,0.0
2025-02-19 15:28:00+05:30,22931.500000,22932.400391,22921.050781,22921.050781,0,0.0,0.0
2025-02-19 15:29:00+05:30,22919.949219,22925.349609,22912.349609,22914.400391,0,0.0,0.0

In [16]:
nifty_50_symbols = [
    "RELIANCE.NS", "TCS.NS", "HDFCBANK.NS", "INFY.NS", "HINDUNILVR.NS",
    "ICICIBANK.NS", "KOTAKBANK.NS", "SBIN.NS", "BHARTIARTL.NS", "LT.NS",
    "HCLTECH.NS", "AXISBANK.NS", "BAJFINANCE.NS", "ASIANPAINT.NS", "MARUTI.NS",
    "TITAN.NS", "SUNPHARMA.NS", "NTPC.NS", "ONGC.NS", "NESTLEIND.NS",
    "POWERGRID.NS", "ULTRACEMCO.NS", "WIPRO.NS", "COALINDIA.NS", "IOC.NS",
    "SHREECEM.NS", "JSWSTEEL.NS", "TECHM.NS", "ADANIPORTS.NS", "BAJAJ-AUTO.NS",
    "GRASIM.NS", "TATASTEEL.NS", "HDFCLIFE.NS", "DRREDDY.NS", "DIVISLAB.NS",
    "CIPLA.NS", "UPL.NS", "EICHERMOT.NS", "HEROMOTOCO.NS", "BPCL.NS",
    "INDUSINDBK.NS", "SBILIFE.NS", "BAJAJFINSV.NS", "HDFC.NS", "ITC.NS",
    "MM.NS", "TATAMOTORS.NS", "VEDL.NS", "ZEEL.NS", "BRITANNIA.NS"
]

# Fetch real-time data for all Nifty 50 stocks
data2 = yf.download(nifty_50_symbols, period="1d", interval="1m", group_by="ticker")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  50 of 50 completed

2 Failed downloads:
['HDFC.NS', 'MM.NS']: YFPricesMissingError('possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")')

In [17]:
data2

Ticker                        TITAN.NS                                         \
Price                             Open         High          Low        Close
2025-02-19 03:45:00+00:00  3219.000000  3224.500000  3206.300049  3223.550049
2025-02-19 03:46:00+00:00  3222.350098  3222.350098  3215.000000  3215.000000
2025-02-19 03:47:00+00:00  3214.050049  3217.000000  3212.399902  3217.000000
2025-02-19 03:48:00+00:00  3216.449951  3221.850098  3216.000000  3221.850098
2025-02-19 03:49:00+00:00  3220.250000  3220.250000  3214.250000  3216.149902
...                                ...          ...          ...          ...
2025-02-19 09:55:00+00:00  3210.399902  3212.199951  3209.850098  3210.800049
2025-02-19 09:56:00+00:00  3211.000000  3212.000000  3211.000000  3211.850098
2025-02-19 09:57:00+00:00  3211.800049  3214.899902  3211.800049  3212.550049
2025-02-19 09:58:00+00:00  3212.600098  3212.600098  3211.250000  3211.649902
2025-02-19 09:59:00+00:00  3211.649902  3214.949951  3211.000000  3211.100098

Ticker                               ONGC.NS                          \
Price                     Volume        Open        High         Low
2025-02-19 03:45:00+00:00      0  235.149994  236.300003  235.149994
2025-02-19 03:46:00+00:00   3525  235.949997  236.649994  235.899994
2025-02-19 03:47:00+00:00   4024  236.649994  237.500000  236.649994
2025-02-19 03:48:00+00:00   2859  237.649994  238.100006  237.550003
2025-02-19 03:49:00+00:00   3359  237.949997  238.199997  237.699997
...                          ...         ...         ...         ...
2025-02-19 09:55:00+00:00   3701  238.149994  238.199997  238.050003
2025-02-19 09:56:00+00:00   4344  238.199997  238.199997  238.000000
2025-02-19 09:57:00+00:00   4883  238.199997  238.199997  238.100006
2025-02-19 09:58:00+00:00    676  238.199997  238.300003  237.949997
2025-02-19 09:59:00+00:00   1414  237.949997  238.199997  237.750000

Ticker                                        ...  DIVISLAB.NS               \
Price                           Close Volume  ...         Open         High
2025-02-19 03:45:00+00:00  235.850006      0  ...  5789.899902  5791.700195
2025-02-19 03:46:00+00:00  236.600006  62051  ...  5752.000000  5770.100098
2025-02-19 03:47:00+00:00  237.399994  67359  ...  5756.899902  5812.350098
2025-02-19 03:48:00+00:00  237.850006  97260  ...  5805.549805  5829.250000
2025-02-19 03:49:00+00:00  238.199997  90838  ...  5822.399902  5826.000000
...                               ...    ...  ...          ...          ...
2025-02-19 09:55:00+00:00  238.100006  21273  ...  5933.450195  5936.950195
2025-02-19 09:56:00+00:00  238.000000  19249  ...  5933.950195  5936.850098
2025-02-19 09:57:00+00:00  238.199997  15213  ...  5932.049805  5934.250000
2025-02-19 09:58:00+00:00  238.300003  27940  ...  5933.000000  5940.399902
2025-02-19 09:59:00+00:00  237.750000  13932  ...  5939.450195  5940.899902

Ticker                                                      HEROMOTOCO.NS  \
Price                              Low        Close  Volume          Open
2025-02-19 03:45:00+00:00  5769.950195  5769.950195     0.0   3842.050049
2025-02-19 03:46:00+00:00  5740.350098  5755.850098  3243.0   3827.500000
2025-02-19 03:47:00+00:00  5756.899902  5808.250000  5798.0   3829.000000
2025-02-19 03:48:00+00:00  5802.049805  5820.549805  3726.0   3834.100098
2025-02-19 03:49:00+00:00  5808.049805  5820.500000  1627.0   3846.850098
...                                ...          ...     ...           ...
2025-02-19 09:55:00+00:00  5930.450195  5934.299805   915.0   3879.750000
2025-02-19 09:56:00+00:00  5932.000000  5934.799805  1132.0   3880.000000
2025-02-19 09:57:00+00:00  5932.049805  5933.000000  1113.0   3882.750000
2025-02-19 09:58:00+00:00  5933.000000  5939.450195  1740.0   3882.300049
2025-02-19 09:59:00+00:00  5934.899902  5934.899902   453.0   3881.250000

Ticker
Price                             High          Low        Close Volume
2025-02-19 03:45:00+00:00  3842.050049  3826.350098  3829.550049      0
2025-02-19 03:46:00+00:00  3828.899902  3817.449951  3826.500000   9472
2025-02-19 03:47:00+00:00  3836.250000  3828.600098  3836.250000   3671
2025-02-19 03:48:00+00:00  3845.300049  3834.100098  3845.300049   1258
2025-02-19 03:49:00+00:00  3851.800049  3845.300049  3848.550049   2129
...                                ...          ...          ...    ...
2025-02-19 09:55:00+00:00  3880.750000  3879.550049  3880.149902   1007
2025-02-19 09:56:00+00:00  3883.000000  3880.000000  3882.199951    685
2025-02-19 09:57:00+00:00  3883.199951  3881.000000  3882.300049    596
2025-02-19 09:58:00+00:00  3882.600098  3879.449951  3881.250000    919
2025-02-19 09:59:00+00:00  3886.550049  3879.000000  3880.000000    657

[375 rows x 252 columns]